$bg: #535353;
$interfaceBlack: #323232;
$monsterGreen: #00b934;
$btnStrokeFade: rgba(0, 0, 0, 0.5);
$monsterGreenDark: #009229;
$whiteBtnText: #434343;
$pureWhite: #ffffff;
$paginationTrackerColor: #5a5a5a;
$pitchBlack: #000000;
$bgBlack: #434343;
$complementary1: #c2185b;
$complementary2: #ec407a;
$link: blue;
$cartCount: red;
